@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body {
	margin: 0px;
	font-family: 'Ubuntu', i;
	background-color: #CFFCD2;
	padding: 20vmin;
}

p {
	margin: 0px;
	font-size: 75vmin;
	word-wrap: break-word;
	line-height: 80%;
	text-align: center;
}

a:hover, a:visited, a:link, a:active{
	color: #012CFA;
	text-decoration: none;
}