/* @import url(https://fonts.googleapis.com/css?family=Slabo+27px|Artifika);*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Plaster);


body {
	margin: 0px;
	overflow: hidden;
	/*background-image: url("assets/bg.png");*/
	background-size: 50% auto; /* width and height, can be %, px or whatever. */
	background-position: right bottom; /*Positioning*/
	background-repeat: no-repeat; /*Prevent showing multiple background images*/
	background-color: white;
}

p {
	margin: 0px;
	font-size: 70vmin;
	line-height: 100%;
	text-align: center;
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

a {
	animation: bgcolor infinite 1s;
	font-family: 'Plaster', cursive;
}

a:hover{
	font-family: 'Slabo 27px', serif;
	animation: none;
}

a:visited, a:link, a:active{
	color: black;
	text-decoration: none;
}

@keyframes bgcolor{
	25%
	{
		background: #000000;
		color: #FFFF00;
	}
	50%
	{
		background: #FFFF00;
		color: #FF0000;
	}
	75%
	{
		background: #FF0000;
		color: #9900FF;
	}
	100%
	{
		background: #9900FF;
		color: #000000;
	}
}
