@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Vibur);



body {
	margin: 0px;
	font-family: 'Slabo 27px', serif;
	background-color: black;
}

p {
	margin: 0px;
	font-size: 75vmin;
	line-height: 20%;
	text-align: center;
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

a:hover{
	font-family: 'Vibur', cursive;
	animation: bgcolor infinite 433ms;
}

a:visited, a:link, a:active{
	color: white;
	text-decoration: none;
}

@keyframes bgcolor{
	20%
	{
		background: #ff0000;
		color: #000000;
	}
	40%
	{
		background: #00ff00;
		color: #ff0000;
	}
	60%
	{
		background: #0000ff;
		color: #00ff00;
	}
	80%
	{
		background: #ffffff;
		color: #0000ff;
	}
	100%
	{
		background: #000000;
		color: #ffffff;
	}
}